{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 2,
	"semi": false,
	"plugins": [
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	],
	"htmlWhitespaceSensitivity": "ignore",
	"importOrder": ["^vue", "<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSortSpecifiers": true
}
