---
import { getCollection, getEntry } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import { ToggleGroup, ToggleGroupItem } from '@/components/ui/toggle-group'
import PostPreview from '@/components/PostPreview.vue' // TODO: should this be .astro?

// const description =
// 	'my blog posts about software development and how I utilise AI in my projects.'
// const title = 'ryan voitiskis - blog'
// const url = 'https://ryanvoitiskis.com/blog'
// useHead({
// 	title: title,
// 	meta: [
// 		{ name: 'description', content: description },
// 		{ property: 'og:title', content: title },
// 		{ property: 'og:description', content: description },
// 		{ property: 'og:url', content: url },
// 		{ property: 'twitter:card', content: 'summary' },
// 		{ property: 'twitter:title', content: title },
// 		{ property: 'twitter:description', content: description }
// 	],
// 	link: [{ rel: 'canonical', href: url }]
// })

const posts = await getCollection('blog')
---

<Layout title="ryan_voitiskis | blog">
	<main>
		<div class="mx-auto w-full max-w-[1120px] px-4 pb-48">
			<h1 class="font-mono text-sm font-[120] text-muted-foreground">> blog</h1>
			<div class="flex-end mb-8 flex justify-end gap-4">
				<!-- <ToggleGroup v-model="format" type="multiple" :roving-focus="false">
				<ToggleGroupItem value="article" size="badge">
					Articles
				</ToggleGroupItem>
				<ToggleGroupItem value="image_collection" size="badge">
					Collections
				</ToggleGroupItem>
			</ToggleGroup> -->
			</div>
			<div class="flex flex-col">
				{posts.map((p, i) => <PostPreview post={p} index={i} />)}
			</div>
		</div>
	</main>
</Layout>
