@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Xenon';
	src: url('../fonts/MonaspaceXenonVarVF[wght,wdth,slnt].ttf')
		format('truetype-variations');
}

@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-VariableFont_wght.ttf')
		format('truetype-variations');
}

@font-face {
	font-family: 'Crimson Pro';
	src: url('../fonts/CrimsonPro-VariableFont_wght.ttf')
		format('truetype-variations');
}

:root {
	--monospace-font: 'Xenon', monospace;
	--serif-font: 'Crimson Pro', serif;
	--sans-serif-font: 'Urbanist', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	transition:
		background-color 160ms,
		background 160ms,
		color 160ms;
}

html {
	font-size: 18px;
}

body,
.standard-text {
	margin: 0;
	color: var(--text);
	font-family: var(--serif-font);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	line-height: 1.6;
	color: var(--heading-text);
	font-family: Urbanist, sans-serif;
	font-weight: 400;
	letter-spacing: 0.0625rem;
	margin-top: 0;
	margin-bottom: 14px;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
	font-weight: bold;
}

h3 {
	font-size: 1.3rem;
	font-weight: bold;
}

h4 {
	font-size: 1.3rem;
}

p {
	margin-top: 0;
}

a {
	text-decoration: underline;
}

ul {
	margin-left: 32px;
	list-style-type: disc;
}

ol {
	list-style: decimal inside;
}

ol,
ul {
	padding-left: 0;
	margin-top: 0;
	li::marker {
		color: var(--marker-color);
	}
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 15px 0 15px 30px;
	font-size: 90%;
}

li {
	margin-bottom: 8px;
}

blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 25px;
}

hr {
	width: 100%; // flex compatability
	margin: 10px 0;
	border-width: 0;
	border-top: 1px solid var(--hr);
}

abbr[title],
acronym[title] {
	color: var(--abbr-title);
}

th {
	font-weight: 500;
}

th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid var(--table-border);
}

table.clean td,
table.clean th {
	border: none;
	padding: 0 8px;
}

table.clean th:first-child,
table.clean td:first-child,
th:first-child,
td:first-child {
	padding-left: 0;
}

table.clean th:last-child,
table.clean td:last-child,
th:last-child,
td:last-child {
	padding-right: 0;
}

*:focus,
a:hover,
a:active,
input[type='submit']::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
	outline: none;
}

a,
.link-text {
	color: var(--link-text);
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		color: var(--link-hover);
	}
}

.links {
	margin: 16px 24px;
	font-family: var(--monospace-font);
	font-size: 17px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 11px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: var(--webkit-scrollbar);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--webkit-scrollbar-hover);
}
::-webkit-scrollbar-track {
	border: none;
	border-radius: 3px;
}
::-webkit-scrollbar-track:hover {
	background: hsla(0, 0%, 50%, 0.12);
}
::-webkit-scrollbar-track:active {
	background: hsla(0, 0%, 50%, 0.28);
}
