@tailwind base;
@tailwind components;
@tailwind utilities;

/* -- start of shadcn-vue -- */
// only the assigning of a theme var to a shadcn var is modified from default
// `npx shadcn-vue@latest init` generated file
@layer base {
	:root {
		--background: 40 22% 96%; // modified to var(--bg)
		--foreground: 0 0% 34%; // modified to var(--text)

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;

		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;

		--primary: 24 9.8% 10%;
		--primary-foreground: 60 9.1% 97.8%;

		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;

		--accent: 337 80% 90%; // modified tovar(--selection)
		--accent-foreground: 24 9.8% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;

		--ring: 337 70% 90%; // modified to custom

		--radius: 0.5rem;
	}

	.dark {
		--background: 216 15% 16%; // modified to var(--bg)
		--foreground: 40 82% 92%; // modified to var(--text)

		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;

		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;

		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;

		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;

		--primary: 60 9.1% 97.8%;
		--primary-foreground: 24 9.8% 10%;

		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;

		--accent: 40 100% 79%; // modified to var(--selection)
		--accent-foreground: 60 9.1% 97.8%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;

		--ring: 40 82% 92%; // modified to var(--text)
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
/* -- end of shadcn-vue -- */

@font-face {
	font-family: 'Xenon';
	src: url('../fonts/MonaspaceXenonVarVF[wght,wdth,slnt].ttf')
		format('truetype-variations');
}

@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-VariableFont_wght.ttf')
		format('truetype-variations');
}

@font-face {
	font-family: 'Crimson Pro';
	src: url('../fonts/CrimsonPro-VariableFont_wght.ttf')
		format('truetype-variations');
}

:root {
	--monospace-font: 'Xenon', monospace;
	--serif-font: 'Crimson Pro', serif;
	--sans-serif-font: 'Urbanist', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	transition:
		background-color 160ms,
		background 160ms,
		color 160ms;
}

html {
	font-size: 19px;
}

body,
.standard-text {
	margin: 0;
	color: var(--text);
	font-family: var(--serif-font);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	line-height: 1.3;
	color: var(--heading-text);
	font-family: Urbanist, sans-serif;
	font-weight: 400;
	letter-spacing: 0.0625rem;
	margin-top: 0;
	a {
		text-decoration: none;
	}
}

h1 {
	font-size: 36px;
	margin-bottom: 16px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 8px;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

h4 {
	font-size: 20px;
	margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.4rem;
	}
}

p {
	margin-top: 0;
}

a {
	text-decoration: underline;
}

ul {
	margin-left: 32px;
	list-style-type: disc;
}

ol {
	list-style: decimal inside;
}

ol,
ul {
	padding-left: 0;
	margin-top: 0;
	li::marker {
		color: var(--marker);
	}
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 15px 0 15px 30px;
	font-size: 90%;
}

li {
	margin-bottom: 8px;
}

blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 24px;
}

hr {
	width: 100%; /* flex compatability */
	margin: 16px 0;
	border-width: 0;
	border-top: 1px solid var(--hr);
}

abbr[title],
acronym[title] {
	color: var(--abbr-title);
}

th {
	font-weight: 500;
}

th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid var(--table-border);
}

table.clean td,
table.clean th {
	border: none;
	padding: 0 8px;
}

table.clean th:first-child,
table.clean td:first-child,
th:first-child,
td:first-child {
	padding-left: 0;
}

table.clean th:last-child,
table.clean td:last-child,
th:last-child,
td:last-child {
	padding-right: 0;
}

*:focus,
a:hover,
a:active,
input[type='submit']::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
	outline: none;
}

a,
.link-text {
	color: var(--link-text);
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		color: var(--link-hover);
	}
}

.links {
	margin: 16px 24px;
	font-family: var(--monospace-font);
	font-size: 17px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 11px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: var(--webkit-scrollbar);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--webkit-scrollbar-hover);
}
::-webkit-scrollbar-track {
	border: none;
	border-radius: 3px;
}
::-webkit-scrollbar-track:hover {
	background: hsla(0, 0%, 50%, 0.12);
}
::-webkit-scrollbar-track:active {
	background: hsla(0, 0%, 50%, 0.28);
}

::selection {
	background: var(--selection);
}
