// modified from https://github.com/antfu/shiki-theme-vars/blob/master/base.css

:root,
:root.light {
	/* Colors */
	--shiki-foreground: #24292e;
	--shiki-background: var(--alt-bg);

	/* Tokens */
	--shiki-comment: #6a727c;
	--shiki-string: #032f62;
	--shiki-keyword: #d73c4c;
	--shiki-function: #6f42c1;
	--shiki-class: #6f42c1;
	--shiki-builtin: #005cc5;
	--shiki-property: #005cc5;
	--shiki-namespace: #e36209;
	--shiki-punctuation: #032f62;
	--shiki-interpolation-punctuation: #e36209;
	--shiki-decorator: #6f42c1;
	--shiki-operator: #d73a49;
	--shiki-number: #004da4;
	--shiki-boolean: #456992;
	--shiki-constant: #d2009e;
	--shiki-symbol: #005cc5;
	--shiki-regex: #e36209;
	--shiki-json-property: #005cc5;
	--shiki-interpolation: #24292e;
	--shiki-attr-value: #032f62;
	--shiki-selector: #22863a;
	--shiki-tag: #22863a;
	--shiki-attr-name: #6f42c1;
	--shiki-doctype: #22863a;
	--shiki-name: #6f42c1;
	--shiki-atrule: #d73c4c;
	--shiki-variable: #005cc5;
}

:root.dark {
	/* Colors */
	--shiki-foreground: #f2fffc;
	--shiki-background: var(--alt-bg);

	/* Tokens */
	--shiki-comment: #6a727c;
	--shiki-string: #ffed72;
	--shiki-keyword: #ff6d7e;
	--shiki-function: #a2e57b;
	--shiki-class: #7cd5f1;
	--shiki-builtin: #7cd5f1;
	--shiki-property: #7cd5f1;
	--shiki-namespace: #ffb270;
	--shiki-punctuation: #989b9d;
	--shiki-interpolation-punctuation: #ff6d7e;
	--shiki-decorator: #a2e57b;
	--shiki-operator: #ff6d7e;
	--shiki-number: #baa0f8;
	--shiki-boolean: #baa0f8;
	--shiki-constant: #baa0f8;
	--shiki-symbol: #a2e57b;
	--shiki-regex: #ffb270;
	--shiki-json-property: #f2fffc;
	--shiki-interpolation: #f2fffc;
	--shiki-attr-value: #ffed72;
	--shiki-selector: #ff6d7e;
	--shiki-tag: #ff6d7e;
	--shiki-attr-name: #7cd5f1;
	--shiki-doctype: #ff6d7e;
	--shiki-name: #7cd5f1;
	--shiki-atrule: #ff6d7e;
	--shiki-variable: #baa0f8;
}

:root {
	/* Colours */
	--shiki-inline-background: var(--shiki-background);

	/* Token Styles */
	--shiki-comment-style: italic;
	--shiki-url-decoration: underline;

	/* Extension */
	--shiki-line-number: #a5a5a5;
	--shiki-line-number-gutter: #333333;
	--shiki-line-highlight-background: #eeeeee;
	--shiki-selection-background: #dddddd;
	--shiki-marker-opacity: 0.4;
	--shiki-marker-font-size: 0.8rem;

	/* Sizing */
	--shiki-tab-size: 2;

	--shiki-block-padding-x: 1rem;
	--shiki-block-padding-y: 1rem;
	--shiki-block-margin-x: 0;
	--shiki-block-margin-y: 0.5rem;
	--shiki-block-radius: 8px;
	--shiki-inline-padding-x: 0.3rem;
	--shiki-inline-padding-y: 0.1rem;
	--shiki-inline-radius: 0.3rem;
}

div[class*='language-'],
pre[class*='language-'],
code[class*='language-'] {
	font-family: 'Xenon', monospace;
	font-size: 16px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5rem;
	-moz-tab-size: var(--shiki-tab-size);
	-o-tab-size: var(--shiki-tab-size);
	tab-size: var(--shiki-tab-size);
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	color: var(--shiki-foreground) !important;
}

/* Code blocks */
div[class*='language-'],
pre[class*='language-'] {
	padding: var(--shiki-block-padding-y) var(--shiki-block-padding-x);
	margin: var(--shiki-block-margin-y) var(--shiki-block-margin-x);
	border-radius: var(--shiki-block-radius);
	overflow: auto;
	background: var(--shiki-background);
}

/* Inline code */
:not(pre) > code {
	font-size: 1rem;
	display: inline;
	padding: var(--shiki-inline-padding-y) var(--shiki-inline-padding-x);
	border-radius: var(--shiki-inline-radius);
	background: var(--shiki-inline-background);
}

/* Selection */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	background: var(--shiki-selection-background);
}

/* Tokens */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--shiki-comment);
	font-style: var(--shiki-comment-style);
}

.token.doctype-tag {
	color: var(--shiki-doctype);
}

.token.name {
	color: var(--shiki-name);
}

.token.namespace {
	color: var(--shiki-namespace);
}

.token.interpolation {
	color: var(--shiki-interpolation);
}

.token.string {
	color: var(--shiki-string);
}

.token.punctuation {
	color: var(--shiki-punctuation);
	&.interpolation-punctuation {
		color: var(--shiki-interpolation-punctuation);
	}
}

.token.operator {
	color: var(--shiki-operator);
}

.token.keyword.module,
.token.keyword.control-flow {
	color: var(--shiki-keyword);
}

.token.url,
.token.symbol,
.token.inserted {
	color: var(--shiki-symbol);
}

.token.constant {
	color: var(--shiki-constant);
}

.token.string.url {
	text-decoration: var(--shiki-url-decoration);
}

.token.boolean,
.language-json .token.boolean {
	color: var(--shiki-boolean);
}

.token.number,
.language-json .token.number {
	color: var(--shiki-number);
}

.token.variable {
	color: var(--shiki-variable);
}

.token.keyword {
	color: var(--shiki-keyword);
}

.token.attr-value {
	color: var(--shiki-attr-value);
}

.token.selector {
	color: var(--shiki-selector);
}

.token.atrule {
	color: var(--shiki-atrule);
}

.token.function {
	color: var(--shiki-function);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.class-name {
	color: var(--shiki-class);
}

.token.tag {
	color: var(--shiki-tag);
}

.token.builtin {
	color: var(--shiki-builtin);
}

.token.attr-name {
	color: var(--shiki-attr-name);
}

.token.property,
.token.entity {
	color: var(--shiki-property);
}

.language-json .token.property {
	color: var(--shiki-json-property);
}

.token.regex {
	color: var(--shiki-regex);
}

.token.decorator,
.token.annotation {
	color: var(--shiki-decorator);
}

/* overrides color-values for the Line Numbers plugin
 * http://shikijs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
	border-right-color: var(--shiki-line-number);
}

.line-numbers-rows > span:before {
	color: var(--shiki-line-number-gutter);
}

/* overrides color-values for the Line Highlight plugin
  * http://shikijs.com/plugins/line-highlight/
  */
.line-highlight {
	background: var(--shiki-line-highlight-background);
}
