@mixin light-theme {
	--page-bg: hsl(40, 22%, 96%);
	--alt-bg: hsl(40, 20%, 91%);
	--alt-alt-bg: hsl(40, 20%, 88%);
	--theme-toggle-bg: hsl(40, 12%, 60%);
	--primary: hsl(337, 70%, 50%);
	--secondary: hsl(337, 80%, 90%);
	--hr: hsl(0, 0%, 80%);
	--modal-backdrop: hsla(0, 0%, 0%, 0.5);
	--correct-green: hsl(120, 50%, 50%);

	// typography
	--text: hsl(0, 0%, 34%);
	--text-strong: hsl(0, 0%, 18%);
	--text-soft: hsl(0, 0%, 48%);
	--heading-text: hsl(216, 20%, 33%);
	--nav-text: hsl(0, 0%, 33%);
	--nav-text-hover: var(--primary);
	--nav-underline: var(--primary);
	--link-text: hsl(0, 0%, 34%);
	--link-hover: var(--primary);
	--project-link-text: var(--text-soft);
	--abbr-title: hsla(0, 0%, 5%, 0.74);
	--side-note-bg: hsl(19, 52%, 93%);
	--side-note-text: hsl(19, 12%, 44%);
	--marker-color: hsl(337, 40%, 55%);
	--separator: hsl(40, 12%, 60%);
	--button-active-text: var(--text-strong);

	--gallery-ui: hsl(40, 20%, 77%);
	--gallery-ui-hover: hsl(40, 94%, 66%);

	--webkit-scrollbar: hsla(0, 0%, 50%, 0.3);
	--webkit-scrollbar-hover: hsla(0, 0%, 50%, 0.12);
}

@mixin dark-theme {
	--page-bg: hsl(216, 15%, 16%);
	--alt-bg: hsl(216, 15%, 19%);
	--alt-alt-bg: hsl(216, 15%, 21%);
	--theme-toggle-bg: hsl(216, 9%, 60%);
	--primary: hsl(40, 80%, 50%);
	--secondary: hsl(40, 80%, 78%);
	--hr: hsl(0, 0%, 80%);
	--modal-backdrop: rgba(0, 0, 0, 0.7);
	--correct-green: hsl(120, 50%, 66%);

	// typography
	--text: hsl(40, 82%, 92%);
	--text-strong: hsl(0, 0%, 100%);
	--text-soft: hsl(0, 0%, 60%);
	--heading-text: hsl(40, 80%, 78%);
	--nav-text: hsl(40, 80%, 78%);
	--nav-text-hover: var(--primary);
	--nav-underline: var(--primary);
	--link-text: hsl(40, 92%, 88%);
	--link-hover: hsl(40, 92%, 70%);
	--project-link-text: var(--link-text);
	--abbr-title: hsl(0, 0%, 100%);
	--side-note-bg: hsl(216, 14%, 20%);
	--side-note-text: hsl(216, 8%, 88%);
	--marker-color: hsl(40, 80%, 78%);
	--separator: var(--secondary);
	--button-active-text: var(--page-bg);

	--gallery-ui: hsl(40, 20%, 77%);
	--gallery-ui-hover: hsl(40, 94%, 66%);

	--webkit-scrollbar: hsla(0, 0%, 100%, 0.3);
	--webkit-scrollbar-hover: hsla(0, 0%, 100%, 0.12);
}

html,
html.light {
	background-color: hsl(40, 22%, 96%);
	@include light-theme;
}

html.dark {
	background-color: hsl(216, 15%, 16%);
	@include dark-theme;
}

@media not (prefers-color-scheme: light) {
	:root.light {
		background-color: hsl(40, 22%, 96%);
		@include light-theme;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: hsl(216, 15%, 16%);
		@include dark-theme;
	}
}
