---
import Layout from '@/layouts/Layout.astro'
---

<Layout headItems={{ title: 'ryan_voitiskis | 404' }}>
	<main class="mx-auto w-full px-4 pb-48">
		<div class="mx-auto w-full max-w-[1120px] px-4">
			<h1 class="font-mono text-sm font-[120] text-muted-foreground">
				> error
			</h1>
		</div>
		<div class="mx-auto w-full max-w-[1120px] px-4">
			<h2 class="text-balance font-mono text-5xl font-[140]">404</h2>
			<p class="break-words font-mono font-[110] text-muted-foreground">
				Page not found
			</p>
		</div>
	</main>
</Layout>
