---
import ContactForm from '@/components/ContactForm.vue'
import IconChevronsDown from '@/components/icons/IconChevronsDown.vue'
import { Button } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import type { HeadItems } from '@/lib/head'

const description = 'developer from melbourne, au. fullstack, mostly with js.'
const title = 'ryan_voitiskis'
const url = 'https://ryanvoitiskis.com'
const headItems: HeadItems = {
	title: title,
	meta: [
		{ name: 'description', content: description },
		{ property: 'og:title', content: title },
		{ property: 'og:description', content: description },
		{ property: 'og:url', content: url },
		{ property: 'twitter:card', content: 'summary' },
		{ property: 'twitter:title', content: title },
		{ property: 'twitter:description', content: description }
	],
	link: [{ rel: 'canonical', href: url }]
}
---

<Layout {headItems} navItem="about">
	<main class="mx-auto w-full px-4 pb-48">
		<div class="mx-auto w-full max-w-[1120px] px-4">
			<h1 class="font-mono text-sm font-[120] text-muted-foreground">
				> ryan_voitiskis
			</h1>
		</div>
		<div
			class="mx-auto flex w-full flex-col items-center justify-center gap-8 pb-48 pt-12 md:flex-row"
		>
			<div class="w-full max-w-64 text-sm text-muted-foreground">
				<p class="mb-2">developer from melbourne, au</p>
				<p class="mb-2">fullstack, mostly with js</p>
				<a href="mailto:ryanvoitiskis@pm.me">ryanvoitiskis@pm.me</a>
			</div>
		</div>
	</main>
</Layout>

<script>
	document
		.getElementById('talk_to_me')
		?.addEventListener('click', () =>
			(document.getElementsByClassName('name_input')[0] as HTMLElement).focus()
		)
</script>
