---
import { Button } from '@/components/ui/button'
import ContactForm from '@/components/ContactForm.vue'
import Layout from '@/layouts/Layout.astro'
import IconChevronsDown from '@/components/icons/IconChevronsDown.vue'
---

<Layout title="TODO: title">
	<main class="mx-auto w-full px-4 pb-48">
		<div class="mx-auto w-full max-w-[1120px] px-4">
			<h1 class="font-mono text-sm font-[120] text-muted-foreground">
				> ryan_voitiskis
			</h1>
		</div>
		<div
			class="mx-auto flex w-full flex-col items-center justify-center gap-8 pb-48 md:flex-row"
		>
			<div
				class="w-full max-w-64 pt-16 text-sm text-muted-foreground md:self-start"
			>
				<p class="mb-2">developer from melbourne, au</p>
				<p class="mb-2">fullstack, mostly with js</p>
				<Button
					id={'talk_to_me'}
					variant="blank"
					class="pl-0 font-sans font-medium"
					aria-label="focus on name input field"
				>
					talk to me
					<IconChevronsDown class="ml-1 mt-[1px] h-5 w-5 md:-rotate-90" />
				</Button>
			</div>
			<ContactForm class="w-full max-w-screen-xs" client:only="vue" />
		</div>
	</main>
</Layout>

<script>
	document
		.getElementById('talk_to_me')
		?.addEventListener('click', () =>
			(document.getElementsByClassName('name_input')[0] as HTMLElement).focus()
		)
</script>
