*,
*:before,
*:after {
	box-sizing: border-box;
	transition:
		background-color 160ms,
		background 160ms,
		color 160ms;
}

html {
	font-size: 16px;
}

body,
.standard-text {
	margin: 0;
	color: var(--text);
	font-family: var(--serif-font);
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	line-height: 1.6;
	color: var(--heading-text);
	font-family: Urbanist, sans-serif;
	font-weight: 400;
	letter-spacing: 0.0625rem;
	margin-top: 0;
	margin-bottom: 14px;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
	font-weight: bold;
}

h3 {
	font-size: 1.3rem;
	font-weight: bold;
}

h4 {
	font-size: 1.3rem;
}

p {
	margin-top: 0;
}

a {
	text-decoration: none;
}

ul {
	margin-left: 40px;
	list-style-type: none;
	list-style: var(--ul-marker);
	&.no-marker {
		list-style: none;
	}
}

ol {
	list-style: decimal inside;
}

ol,
ul {
	padding-left: 0;
	margin-top: 0;
	li::marker {
		color: var(--marker-color);
	}
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 15px 0 15px 30px;
	font-size: 90%;
}

li {
	margin-bottom: 8px;
}

blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: var(--standard-margin-bottom);
}

pre {
	margin-bottom: var(
		--standard-margin-bottom
	) !important; // override imported prism styles
}

hr {
	width: 100%; // flex compatability
	margin: 10px 0;
	border-width: 0;
	border-top: 1px solid var(--hr);
}

abbr[title],
acronym[title] {
	color: var(--abbr-title);
}

th {
	font-weight: 500;
}

th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid var(--table-border);
}

table.clean td,
table.clean th {
	border: none;
	padding: 0 8px;
}

table.clean th:first-child,
table.clean td:first-child,
th:first-child,
td:first-child {
	padding-left: 0;
}

table.clean th:last-child,
table.clean td:last-child,
th:last-child,
td:last-child {
	padding-right: 0;
}

*:focus,
a:hover,
a:active,
input[type='submit']::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
	outline: none;
}

a,
.link-text {
	color: var(--link-text);
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		color: var(--link-hover);
	}
}

// could have just added padding to the article or main element but this
// allows other content within an article to be full width
article:not(.post-preview) > p,
article:not(.post-preview) > h1,
article:not(.post-preview) > h2,
article:not(.post-preview) > h3,
article:not(.post-preview) > h4 {
	padding: 0 var(--horizontal-padding);
}

button {
	cursor: pointer;
	font-family: var(--sans-serif-font);
	font-size: 1rem;

	// allows turning any element into a button to deal with "a11y-click-events-have-key-events" error
	&.clean {
		background: none;
		border: none;
		padding: 0;
	}
}

pre {
	overflow: scroll;
	font-family: var(--monospace-font);
	font-size: 1rem;
}

.side-note {
	width: 100%;
	box-sizing: border-box;
	font-style: italic;
	font-size: 1.3rem;
	background: var(--side-note-bg);
	color: var(--side-note-text);
	padding: 34px 44px;
	margin: 40px 0;
}

// TODO: reassess if these are required
::-webkit-scrollbar {
	width: 6px;
	height: 11px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: var(--webkit-scrollbar);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--webkit-scrollbar-hover);
}
::-webkit-scrollbar-track {
	border: 0px none #fff;
	border-radius: 3px;
}
::-webkit-scrollbar-track:hover {
	background: hsla(0, 0%, 50%, 0.12);
}
::-webkit-scrollbar-track:active {
	background: hsla(0, 0%, 50%, 0.28);
}

img.center {
	display: block;
	margin: 0 auto var(--standard-margin-bottom);
}

@media (max-width: 880px) {
	pre[class*='language-'] {
		border-radius: 0;
	}
}

@media (max-width: 570px) {
	pre {
		width: 100vw;
	}
}

// TODO: reassess the following (it came from app.vue after port)
main {
	padding: 0 10px 300px 10px;
	max-width: var(--page-width);
	margin: 0 auto;
}

.links {
	margin: 20px 30px;
	font-family: var(--monospace-font);
	font-size: 1.1rem;
}

button.inline-subtle {
	display: inline;
	color: var(--text);
	font-family: var(--serif-font);
	font-size: 1em;
	background-color: var(--alt-bg);
	border: none;
	text-decoration: underline;
	&:hover {
		color: var(--text-strong);
		background-color: var(--alt-alt-bg);
	}
}
@media (max-width: 740px) {
	.email {
		text-align: center;
	}
}
