@mixin light-theme {
	--page-bg: hsl(40, 22%, 96%);
	--alt-bg: hsl(40, 20%, 91%);
	--alt-alt-bg: hsl(40, 20%, 88%);
	--theme-toggle-bg: hsl(40, 12%, 60%);
	--primary: hsl(337, 70%, 50%); //! also change in ul-marker-light.svg
	--secondary: hsl(337, 80%, 90%);
	--hr: hsl(0, 0%, 80%);
	--modal-backdrop: hsla(0, 0%, 0%, 0.5);
	--correct-green: hsl(120, 50%, 50%);

	// typography
	--text: hsl(0, 0%, 34%);
	--text-strong: hsl(0, 0%, 18%);
	--text-soft: hsl(0, 0%, 48%);
	--heading-text: hsl(216, 20%, 33%);
	--nav-text: hsl(0, 0%, 18%);
	--nav-text-hover: var(--primary);
	--nav-underline: var(--primary);
	--link-text: hsl(0, 0%, 34%);
	--link-hover: var(--primary);
	--project-link-text: var(--text-soft);
	--abbr-title: hsla(0, 0%, 5%, 0.74);
	--side-note-bg: hsl(19, 52%, 93%);
	--side-note-text: hsl(19, 12%, 44%);
	--ul-marker: url('$lib/svg/ul-marker-light.svg');
	--marker-color: var(--primary); //! also change in ul-marker-light.svg
	--separator: hsl(40, 12%, 60%);
	--button-active-text: var(--text-strong);

	--gallery-ui: hsl(40, 20%, 77%);
	--gallery-ui-hover: hsl(40, 94%, 66%);
}

:root,
:root.light {
	background-color: hsl(40, 22%, 96%);
	@include light-theme;
}

@media not (prefers-color-scheme: light) {
	:root.light {
		background-color: hsl(40, 22%, 96%);
		@include light-theme;
	}
}
