---
interface Props {
	href: string
	label: string
	current?: string
}

const { href, label, current } = Astro.props
---

<a
	{href}
	class:list={[
		'-my-4 inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md px-4 py-2 font-mono text-sm font-[130] text-foreground !decoration-primary !decoration-[0.1rem] transition-colors hover:bg-vmuted hover:no-underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 dark:text-secondary',
		{ '!underline': label === current }
	]}
>
	{label}
</a>
