<div class="h-[600px] w-full sm:hidden">
	<slot />
</div>
<div
	class="dark:border-vmuted dark:bg-vmuted relative mx-auto hidden h-[600px] w-[300px] rounded-[2.5rem] border-[14px] border-gray-800 bg-gray-800 shadow-[0_6px_36px_0_var(--primary)] sm:block dark:shadow-[0_6px_30px_-5px_#ffffffaa]"
>
	<div
		class="dark:bg-vmuted absolute -start-[17px] top-[72px] h-[32px] w-[3px] rounded-s-lg bg-gray-800"
	>
	</div>
	<div
		class="dark:bg-vmuted absolute -start-[17px] top-[124px] h-[46px] w-[3px] rounded-s-lg bg-gray-800"
	>
	</div>
	<div
		class="dark:bg-vmuted absolute -start-[17px] top-[178px] h-[46px] w-[3px] rounded-s-lg bg-gray-800"
	>
	</div>
	<div
		class="dark:bg-vmuted absolute -end-[17px] top-[142px] h-[64px] w-[3px] rounded-e-lg bg-gray-800"
	>
	</div>
	<div
		class="h-[572px] w-[272px] overflow-hidden rounded-[2rem] bg-white dark:bg-gray-800"
	>
		<slot />
	</div>
</div>
