@mixin light-theme {
	--page-bg: hsl(40, 20%, 97%); // ! also change in sun.svg
	--theme-toggle-bg: hsl(40, 12%, 60%); // ! also change in sun.svg

	/* elements */
	--hr: hsl(0, 0%, 80%);
	--border-colour: hsl(0, 0%, 43%);

	/* text and icons */
	--white-text: hsl(0, 0%, 100%);
	--lighter-text: hsl(0, 0%, 76%);
	--light-text: hsl(0, 0%, 57%);
	--dark-text: hsl(0, 0%, 41%);
	--darker-text: hsl(0, 0%, 28%);
	--darkest-text: hsl(0, 0%, 20%);
	--link-text: hsl(216, 76%, 39%);
	--link-text-hover: hsl(216, 70%, 56%);
	--abbr-title: hsla(0, 0%, 5%, 0.74);
	--label-text: hsl(207, 13%, 41%);
	--input-text: hsl(207, 12%, 29%);
}

:root,
:root.light {
	background-color: hsl(40, 20%, 97%);
	@include light-theme;
}

@media not (prefers-color-scheme: light) {
	:root.light {
		background-color: hsl(40, 20%, 97%);
		@include light-theme;
	}
}
