---
import '@/styles/main.scss'
import ButtonLink from '@/components/ButtonLink.astro'
import ThemeToggle from '@/components/ThemeToggle.vue'
import { renderHeadItems, type HeadItems } from '@/lib/head'
import persistTheme from '@/lib/persistTheme.min.js?raw'

interface Props {
	headItems: HeadItems // page specific head tags
	navItem?: string // current nav item to highlight (must match the label)
}

const preloadFontAttrs = {
	rel: 'preload',
	as: 'font',
	type: 'font/woff2',
	crossorigin: 'anonymous'
}

const layoutHeadItems: HeadItems = {
	link: [
		{ ...preloadFontAttrs, href: '/fonts/InterVariable.woff2' },
		{ ...preloadFontAttrs, href: '/fonts/BerkeleyMonoVariable-Regular.woff2' },
		{ rel: 'icon', type: 'image/svg+xml', href: '/favicon.svg' },
		{ rel: 'sitemap', href: '/sitemap-index.xml' }
	],
	meta: [
		{ property: 'og:type', content: 'website' },
		{ property: 'twitter:creator', content: '@ryanvoitiskis' },
		{ property: 'twitter:site', content: '@ryanvoitiskis' }
	],
	script: [{ innerHTML: persistTheme }]
}

const { headItems: pageHeadItems, navItem } = Astro.props
const renderedHead = renderHeadItems([layoutHeadItems, pageHeadItems])
---

<!doctype html>
<html lang="en">
	<head>
		<Fragment set:html={renderedHead} />
	</head>
	<body>
		<header
			class="flex h-14 w-full justify-between border-b bg-muted transition-colors duration-420"
		>
			<div
				class="mx-auto flex w-full max-w-[1120px] flex-row items-center justify-between p-4"
			>
				<nav class="-ml-4 flex flex-wrap gap-y-4">
					<ButtonLink href="/" label="about" current={navItem} />
					<ButtonLink href="/blog" label="blog" current={navItem} />
					<ButtonLink href="/projects" label="projects" current={navItem} />
				</nav>
				<ThemeToggle class="-my-2" client:idle />
			</div>
		</header>

		<div
			class="min-h-[calc(100vh_-_56px)] bg-background pt-8 transition-colors duration-420"
		>
			<!-- root node of slot should be <main> for semantic purpose -->
			<slot />
		</div>
	</body>
</html>
