---
import '@/styles/main.scss'
import '@/styles/shiki.scss'
import ButtonLink from '@/components/ButtonLink.vue'
import ThemeToggle from '@/components/ThemeToggle.vue'

interface Props {
	title: string
}
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex h-14 w-full justify-between border-b bg-muted">
			<div
				class="mx-auto flex w-full max-w-[1120px] flex-row items-center justify-between p-4"
			>
				<nav class="-ml-4 flex flex-wrap gap-y-4">
					<ButtonLink href="/" label="about" client:load />
					<ButtonLink href="/blog" label="blog" client:load />
					<ButtonLink href="/projects" label="projects" client:load />
				</nav>
				<ThemeToggle class="-my-2" client:load />
			</div>
		</header>

		<div class="min-h-[calc(100vh_-_56px)] bg-background pt-8">
			<!-- root node of slot should be <main> for semantic purpose -->
			<slot />
		</div>
	</body>
</html>
