---
import '@/styles/main.scss'
import { Button } from "@/components/ui/button"
import ThemeToggle from "@/components/ThemeToggle.vue"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex h-14 w-full justify-between bg-muted">
			<div
				class="mx-auto flex w-full max-w-[1120px] flex-row items-center justify-between p-4"
			>
				<nav id="main_nav" class="-ml-4 flex flex-wrap gap-y-4">
					<Button as-child variant="nav-link" class="-my-4">
						<a href="/">about</a>
					</Button>
					<Button as-child variant="nav-link" class="-my-4">
						<a href="/blog">blog</a>
					</Button>
					<Button as-child variant="nav-link" class="-my-4">
						<a href="/projects">projects</a>
					</Button>
				</nav>
				<ThemeToggle class="-my-2" client:load />
			</div>
		</header>

		<div class="min-h-[calc(100vh_-_56px)] pt-8">
			<!-- root node of slot should be <main> for semantic purpose -->
			<slot />
		</div>
	</body>
</html>

<style is:global lang="scss">
	#main_nav {
		a {
			&:hover {
				text-decoration: none;
			}
			&.router-link-active {
				text-decoration: underline;
				text-decoration-color: hsl(var(--primary));
				text-decoration-thickness: 0.1rem;
			}
		}
	}
	</style>
